body {font-family: 'Creepster', cursive;
    font-size: 1.563em;

}
h1 {
    font-family: 'Creepster', cursive;
    font-size: 3.750;
}
p {
    font-family: 'Creepster', cursive;
    font-size: 1.250em;

}

